*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;
    overflow: hidden;
}


.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}
 .user-img{
	 width: 100px;
	 height: 100pc;
	 border-radius: 50px;
	 margin-bottom: 50px;
	 margin-top: 30px;
 }
.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}


.img img{
	width: 500px;
}

form{
	width: 360px;
	
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color:rgb(109, 107, 107);	
	font-size: 37px;
}


.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #0099ff;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #0099ff;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 10px;		
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 18px;
	color: rgb(90, 90, 90);
	font-family: 'Questrial', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}
p{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color:#0099ff;
}

.lbtn{
	display: block;
	width: 45%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right,  #007ccf, #0099ff,  #007ccf);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Questrial', sans-serif;
	text-transform: capitalize;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.lbtn:hover{
	background-position: right;
}

.sbtn{
	display: block;
	width: 45%;
	height: 50px;	
	border-radius: 25px;
	outline: none;
	border: 1.5px solid #007ccf;
	background-color: white;
	background-size: 200%;
	font-size: 1.2rem;
	color: #007ccf;
	font-family: 'Questrial', sans-serif;
	text-transform: capitalize;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.sbtn:hover{
	background-position: right;
	background-image: linear-gradient(to right,  #007ccf, #0099ff,  #007ccf);
	color: #ffffff;
}

.button .sbtn{
	margin-top: -66px;
	margin-left: 50%;
}

.button{
	margin-top: 30px;
}
/* forgot page */
.lbtnfor{
	display: block;
	width: 45%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right,  #007ccf, #0099ff,  #007ccf);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Questrial', sans-serif;
	text-transform: initial;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.lbtnfor:hover{
	background-position: right;
}
.buttonfor .lbtnfor{
	width: 100%;
}

.buttonfor{
	margin-top: 20px;
}



@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	

	.login-content{
		justify-content: center;
	}
}